.DS_Store
*~
*.elc

init.el
custom.org
custom.el
secret.org
secret.el

auto-save-list/
savefile/
backup/
elpa/
url/
eshell/
games/

projectile-bookmarks.eld
saveplace
recentf
savehist
saveplace
bookmarks
