.DS_Store
*~
*.elc

init.el
custom.org
custom.el
secret.org
secret.el

auto-save-list/
savefile/
backup/
elpa/
url/
eshell/
games/
ido.last
projectile-bookmarks.eld
.mc-lists.el
saveplace
recentf
savehist
saveplace
bookmarks
